@charset "EUC-KR";
/*-------------------------------배경색--------------------------------*/
		body {
			font-family: 배달의민족 한나는 열한살;				
			/* background: #02AAB0;   */
			/* background: -webkit-linear-gradient(to top, #00CDAC, #02AAB0);  */
			background: linear-gradient(to top, #00CDAD, #02AAB0); 
			background-repeat: no-repeat;
			background-size: cover;  
			/*  background-color: red; */    
			}
/*-------------------------------Header-------------------------------*/
		.col-sm-1{
			padding-top:20px;
			/* background-color:lavender;   */
			text-align: left; 
		}
		.col-sm-11{
			/* background-color:lavenderblush;  */ 
			float: left;
			padding-right: 130px;
		}
		/* 메뉴 오픈 버튼 */
		#openBtn{
			margin-top: 20px;
			width: 60%;
			margin: none;
			padding: none;
		}
		/* 메뉴 클릭 시 배경 색상 */
		.overlay {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: rgb(0,0,0);
		  background-color: rgba(0,0,0, 0.9);
		  overflow-x: hidden;
		  transition: 0.1s;
		}
		/* 메뉴 클릭 시 컨텐츠 */
		.overlay-content {
		  position: relative;
		  top: 10%;
		  width: 100%;
		  text-align: left;
		  margin-top: 30px;
		  margin-left: 30px;
		}
		/* 오버레이 전체 */
		.overlay a {
		  padding: 8px;
		  text-decoration: none;
		  font-size: 40px;
		  color: white;
		  display: block;
		  transition: 0.1s;
		}
		/* 누를 때 색상 */
		.overlay a:hover, .overlay a:focus {
		  color: #2f5597;
		}
		/* 닫기 버튼 */
		.overlay .closebtn {
		  margin-top: 20px;
		  position: absolute;
		  left: 15px;
		  top: 3%;
		  font-size: 60px;
		  background-image: url("/leggo/images/menu-btn-close.png");
		  background-repeat: no-repeat;
		  background-size: contain;
		}
		@media screen and (max-height: 450px) {
		  .overlay a {
		  font-size: 20px;
		  }
		  .overlay .closebtn {
		  font-size: 40px;
		  top: 15px;
		  right: 35px;
		  }
		}
		#secondLogo {
			text-align: center;
			/* background-color: red;  */
			margin-bottom: 50px;
		}
/* -----------------------------Content----------------------------- */
		/* 메뉴 */
		#content2 {
			height: 90%;
			width: 100%;
			/* background-color: yellow;    */
			text-align: center;
			margin-top: -20px; 
			padding: 3.5rem 3.5rem 2rem 3.5rem;
		}
		.menuImg {
			width: 170px;
			height: 170px;
		}
		.menuBtn {
			width: 200px;
			display: inline-block;
			margin: 20px;
		}
	/* 	.button {
			background-color: #2f5597;
			font-family: 배달의민족 한나는 열한살;
			border: none;
			color: white;
			padding: 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 30px;
			margin: 4px 30px;
			cursor: pointer;
			padding: 5px 50px 15px 50px;
		} */
/* -----------------------------Footer----------------------------- */
		#left{
			text-align: left;
			/* background-color: red; */
			height: 80%
		}
		#leftNext{
			height: 220px; 
		}
		#right{
			text-align: right;
			/* background-color: blue;  */
			height: 80%
		}
		#rightNext{
			height:220px;  
		}